@media screen and (max-width:1500px)
{
    body
    {
        margin: 10px 30px 50px;
        font-family: 'Raleway', sans-serif;
        text-align: justify;  
    }
    .logo_reservia
    {
        width: 150px;
        height:50px;
    }
    .activité_content
    {
        
        justify-content:center;
    
    }
    
    .activité_1, .activité_4
    {
        max-width: 260px;
        max-height: 400px;
        
        width: 260px;
        height: 400px;
        margin-left: -10px;
       
    }
    .image_activ_1
    {
        max-width: 250px;
        max-height: 400px;
        height: 350px;
        padding: 5px;
    }
    .image_activ_2
    {
        max-width: 250px;
        max-height:200px;
        height: 130px;
        padding: 5px;
    }
    .colonne_1
    {
    
    max-width: 350px;
    }
    .activité_2, .activité_5, .activité_6
    {
        margin-top: 10px;
        max-width: 260px;
        max-height: 300px;
        
        width: 260px;
        height: 180px;
        margin-left: -10px;
        
    }
    .activité_3
    {
        margin-top: 10px;
        max-width: 260px;
        max-height: 300px;
        
        width: 260px;
        height: 180px;
        margin-left: -10px;
        
    }

}
