@media screen and (max-width:600px)
{
    body
    {
        margin: 10px;
        font-family: 'Raleway', sans-serif;
        text-align: justify;  
        font-size: 20px;
    }
    .logo_reservia
    {
        width: 90px;
        height: 80px;
        margin-left: 25px;
    }
    #logo_header
    {
        flex-flow: row wrap;
        justify-content: space-between;
    }
    #align_header
    {
        order:3;
        align-self:flex-end; 
        width:100%;
    }
    .inscrire
    {
        margin: 15px;
        align-self: flex-end;
        font-size: 25px;
    }
    .heber_deco, .acti_deco
    {
        
        font-size: 20px;
        border-top: none;
        border-bottom: 6px solid #f2f2f2;
        color:black;
        margin-left: -45px;
    
    }
    #heber:hover
    {
        border-top: none;
        border-bottom: 6px solid #0065FC;
        
    }
    #activ:hover
    {
        border-top: none;
        border-bottom: 6px solid #0065FC;
        
    }
    
    h1
    {
        font-size: 20px;
        font-weight: bolder;
    }
    p
    {
        font-size: 18px;
        font-weight:normal;
    }
    
   
    .filtres, .filtre_content
    {
        display: flex;
        flex-flow: row wrap;
        margin:0px;
       margin-bottom: 15px;
    }
    
    .sur_vol
    {
        margin-top: 25px;
    }
    aside
    {
        border-radius:0;
        width:100%;
        background-color: #F2F2F2;

    }
    .image
    {
        max-width: 150px;
        max-height: 180px;
    } 
    
    .hebergement
    {
       order: 1; 
    }
    .hebergement_et_plus
    {
        display: flex;
        flex-flow: column wrap;
    }
    .les_populaires
    {
        
        height: 190px;
        width: 350px;
    }
    .heber_align
    {
        margin-left: 20px;
    }
    .hebergement
    {
        margin: 0%;
        border-radius:2rem;
        min-height: 500px;
        width:100%;
        background-color:white;
        max-width: 100%;
    }
    .les_hebergements
    {
        margin: 10px;
        height: 225px;
        width: 360px;
        
    }
    .hebergement_content
    {
        display: flex;
        flex-flow: column wrap;
        margin-left: 0px;
        margin-right: 0px;
        max-width: 100%;
        width: 100%;
    }  
    img {
        max-width: 100%;
        max-height: 120px;
        width: 100%;
        padding: 5px;
        border-radius: 2rem 2rem 0 0;
    }
    .sur_vol:hover
    {
        cursor : pointer;
        border-radius: 2rem 2rem 2rem 2rem;
        background-color: #DEEBFF;
        font-size: 16px;
        min-width: 155px;   
    }
     .align_star
    {
        
        text-align: justify;
        font-size: 17px;
        margin-left: 18px;
    }
    figcaption
    {
        margin-left: 20px;
    }
    
    .activité_content
    {
        margin: 15px;
        flex-flow: column wrap;
    }
    .image_activ_2, .image_activ_1
    {
        max-width: 450px;
        max-height:250px;
        height: 150px;
        padding: 0;
    }
    .activité_1, .activité_2, .activité_3, .activité_4, .activité_5, .activité_6
     {
        max-width: 450px;
        max-height: 200px;
        width: 350px;
        margin-left: 0px;
    }
    .footer_section
    {
        
        display: flex;
        flex-direction: column;
        background-color: #F2F2F2;
       
    }
    .footer_column
    {
        width: 80%;
        margin: 0px;
        text-align: justify;
    }
    

} 